.Rproj.user
.Rhistory
.RData
.Ruserdata

*.nc

bantu_migration/output/ICAR_model_a_cont_d52.RData

bantu_migration/output/ICAR_model_a.RData

bantu_migration/.RDataTmp

bantu_migration/output/ICAR_model_a_cont.RData

bantu_migration/output/ICAR_model_a_d44.RData

bantu_migration/output/ICAR_model_a_d64.RData

bantu_migration/output/ICAR_model_a_cont_d72.RData

bantu_migration/output/ICAR_model_b.RData

bantu_migration/output/ICAR_model_b_cont_d52.RData

bantu_migration/output/ICAR_model_b_cont_d72.RData

bantu_migration/output/ICAR_model_b_cont.RData

bantu_migration/output/ICAR_model_b_d44.RData

bantu_migration/output/ICAR_model_b_d64.RData

bantu_migration/output/ICARmodel_tactsim.RData

bantu_migration/output/Womblemodel_tactsim.RData

*.tif

bantu_migration/output/Womblemodel_tactsim_woa_nocovariate.RData

bantu_migration/output/Womblemodel_tactsim_woa_falsecovariate.RData

bantu_migration/output/Womblemodel_tactsim_covariate.RData

bantu_migration/output/Womblemodel_tactsim_nocovariate.RData

bantu_migration/output/Womblemodel_tactsim_woa_covariate.RData

bantu_migration/output/Womblemodel_tactsim_covariate_dense.RData

bantu_migration/data/environment/AnimalHusbandry_suitability_Beck/

bantu_migration/output/Womble_Emodel_d44.RData

bantu_migration/output/Womblemodel_tactsim_2covariate_notbinary_noise.RData

bantu_migration/output/Womblemodel_tactsim_woa_2covariate.RData

bantu_migration/output/Womblemodel_tactsim_woa.RData

bantu_migration/output/Womblemodel_tactsim_nocovariate_sparse2.RData

bantu_migration/output/Womblemodel_tactsim_covariate_notbinary.RData

bantu_migration/output/Womblemodel_tactsim_falsepositive_covariate.RData

bantu_migration/output/Womblemodel_tactsim_falsenegative_covariate.RData

bantu_migration/output/Womblemodel_tactsim_2covariate_overlap.RData

bantu_migration/output/Womblemodel_tactsim_nocovariate_2.RData

bantu_migration/output/Womblemodel_tactsim_2covariate_notbinary.RData

bantu_migration/output/Womblemodel_tactsim_2covariate.RData

bantu_migration/output/Womble_Emodel_d44_2covariate.RData

bantu_migration/output/Womblemodel_tactsim_nocovariate_sparse.RData

bantu_migration/output/Womblemodel_tactsim_woa2.RData
