.Rproj.user
.Rhistory
.RData
.Ruserdata

*.nc
*.tif
*.RData

bantu_migration/data/environment/AnimalHusbandry_suitability_Beck/metadata.txt
bantu_migration/data/environment/AnimalHusbandry_suitability_Beck/anim_suit.asc

bantu_migration/.RDataTmp
